PMC/src/by/phinc/pmc/data/role.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.phinc.by/pmc/role" 
	xmlns:rl="http://www.phinc.by/pmc/role">
	
	<xsd:element name="roles">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="role" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="xsd:string">
								<xsd:attribute name="id" type="xsd:positiveInteger" use="required"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	
</xsd:schema>